@import "http://webfonts.ru/import/amble.css";

.jumbotron{
	background-image: url(../images/bg.jpg);
	background-size: cover;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

body {
	overflow: hidden;
	color: white;
}

h1 {
	font-family: 'Amble';
	font-weight: bold;
}

p {
	font-family: 'Amble';
	font-weight: normal;
	font-size: 24pt;
	color: gray;
}

a:visited {
	color: #10dffd;
	text-decoration: none !important;
}

a:active {
	color: white;
}

a {
	transition: 0.5s;
	font-family: 'Amble';
	font-weight: bold;
	font-size: 16pt;
	color: #10dffd;
	text-decoration: none !important;
	/*Button*/
	background-color: none;
	padding: 14px 28px 15px 28px;
	border-radius: 100px;
	border: solid;
	border-color: #10dffd;
}

a:visited:hover {
	transition: 0.5s;
	text-decoration: none;
	color: white;
	background-color: #10dffd;
}

a:hover {
	transition: 0.5s;
	color: white;
	background-color: #10dffd;
	text-decoration: none;
}